<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="bio">
        <p ><%= user.firstname%> <span><%= user.lastname%></span> </p>
        <p><%= user.email%></p>
    </div>
</body>
</html>