<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
<body>

    <div class="grid-container body">
        <div></div>
        <div>
            <form action="/login" method="POST">
                <p class="register">Login</p>
                <input class="input" placeholder="Email" type="text" id="email" name="remail" required  ><br><br><br>
                <input class="input" placeholder="Password" type="password" id="password" name="password" required ><br><br><br>
                <center>
                    <input name ="register" type="submit" style="padding: 2% 24%; width: 88%; font-size: 100%; background-color:rgb(80, 130, 20); color: white;" value="register">
                </center>
                <br><br>
                <input style="float: left; margin-left: 22%;" id="remember" type="checkbox">
                <label style=" font-family: Arial, Helvetica, sans-serif;" for="remember">I accept the Terms of Use & Privay Policy</label>
                <br><br>
            </form>
        </div>
    </div>
</body>
</html>